@use 'my_planner_main' as mp;

// 변수 선언
$bg-color: mp.$main-bg-color;
$font-color: mp.$font-color;

.date-container {
  padding: 20px;
  background-color: $bg-color;

  .planner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    .date-content {
      font-family: mp.$brand-font;
      font-weight: 400; 
      font-size: 1.8rem;
      color: #222;     
      letter-spacing: -1px;
    }

    .date-detail {
      border: 1px solid #e6e6e6;
      background: mp.$main-bg-color;
      color: mp.$font-color;
      line-height: 28px;
      width: 160px;
      border-radius: 999px;
      text-align: center;

      &:focus {
        border-color: #cfcfcf;
      }
    }

    .hidden-date {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      width: 0;
      height: 0;
      border: 0;
      padding: 0;
    }

    .doc-icon {
      font-size: 1.6rem;
      color: #555;
      cursor: pointer;
      display: flex;
        
      &:hover { color: $font-color; }
    }
  }

  .toDo-list {
    .toDo-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .toDo-time { 
        font-size: 0.8rem; 
        color: #666; 
        display: block; 
      }
      
      .toDo-content { 
        font-family: mp.$brand-font;
        font-size: 1.4rem; 
        font-weight: 500; 
      }
      
      .content-row {
        display: flex;
        align-items: center;
        gap: 5px;
        .notif-icon { font-size: 1.2rem; }
      }

      .check-icon {
        font-size: 1.5rem;
        cursor: pointer;
        &.active { color: #333; }
      }
    }
  }
}

// 다크모드
body.dark {
  .date-container {
    background-color: mp.$main-bg-color-dark;
    color: mp.$font-color-dark;

    .date-content{
      color: mp.$font-color-dark;
    }

    .planner-header {
      .date-detail { 
        background-color: mp.$main-bg-color-dark;
        color: mp.$font-color-dark; 
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1) brightness(1.8);
        opacity: 1;
      }
      
      .date-title { color: mp.$font-color-dark; }
      .doc-icon { color: mp.$font-color-dark; }
    }

    .schedule-list {
      .schedule-toDo {
        .toDo-time { color: rgba(mp.$font-color-dark, 0.65); }
        .toDo-title { color: mp.$font-color-dark; }

        .check-icon {
          color: rgba(mp.$font-color-dark, 0.55);
          &.active { color: mp.$font-color-dark; }
        }
      }
    }
  }
}