.date-container {
  padding: 20px;
  background-color: #fff;

  .planner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .date-title {
      font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
      font-weight: 400; 
      font-size: 1.8rem;
      color: #222;     
      letter-spacing: -1px;
    }

    .doc-icon {
      font-size: 1.6rem;
      color: #555;
      cursor: pointer;
        
      &:hover { color: #000; }
    }
  }

  .schedule-list {
    .schedule-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      .item-time { font-size: 0.8rem; color: #666; display: block; }
      .item-title { font-size: 1.4rem; font-weight: 500; }
      
      .title-row {
        display: flex;
        align-items: center;
        gap: 5px;
        .notif-icon { font-size: 1.2rem; }
      }

      .check-icon {
        font-size: 1.5rem;
        cursor: pointer;
        &.active { color: #333; }
      }
    }
  }
}