@use 'my_planner_lavender' as mpl;

// 변수 설정
$saveBtn-bg: mpl.$brand-color;
$findBtn-bg: #D9D9D9;

.save-btn {
    width: 100%;
    padding: 10px;
    background-color: $saveBtn-bg;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
    background-color: darken($saveBtn-bg, 10%);
    }
}

.find-btn {
    width: 100%;
    padding: 10px;
    background-color: $findBtn-bg;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
    background-color: darken($findBtn-bg, 10%);
    }
}


// .profile-image-cancel {
//     position: absolute;
//     right: 10px; // '파일 찾기' 버튼 위치에 따라 조절
//     background: none;
//     border: none;
//     cursor: pointer;
//     color: #FF0000;
// }

.profile-image-input-wrapper {
  position: relative; // 기준점
  width: 100%;
  flex: 1;

  .underline-input {
    width: 100%;    // ✅ 핵심
    display: block; // ✅ inline 이슈 차단
    box-sizing: border-box;
  }

  .profile-image-cancel {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);

    background: none;
    border: none;
    padding: 0;

    font-size: 14px;
    color: #FF0000;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }
}