// 변수 설정
$saveBtn-bg: #c8a2c8;
$findBtn-bg: #D9D9D9;

.save-btn {
    width: 100%;
    padding: 10px;
    background-color: $saveBtn-bg;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
    background-color: darken($saveBtn-bg, 10%);
    }
}

.find-btn {
    width: 100%;
    padding: 10px;
    background-color: $findBtn-bg;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
    background-color: darken($findBtn-bg, 10%);
    }
}

.profile-image-bar {
    display: flex; 
    align-items: center; 
    gap: 10px;
}

.profile-image-cancel {
    position: absolute;
    right: 10px; // '파일 찾기' 버튼 위치에 따라 조절
    background: none;
    border: none;
    cursor: pointer;
    color: #FF0000;
}