@use 'my_planner_lavender' as mpl;

// 변수 설정
$saveBtn-bg: mpl.$brand-color;
$findBtn-bg: #D9D9D9;
$editBtn-bg: #FFD700;
$delete-bg: #FF0000;

@mixin base-btn($bg-color) {
  width: 100%;
  padding: 10px;
  background-color: $bg-color;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

.save-btn {
  @include base-btn($saveBtn-bg);
}

.find-btn {
  @include base-btn($findBtn-bg);
}

.leave-btn {
  @include base-btn($delete-bg); 
  margin-top: 5%;
  color: ivory;
}

.profile-image-input-wrapper {
  position: relative; // 기준점
  width: 100%;
  flex: 1;

  .underline-input {
    width: 100%;    // ✅ 핵심
    display: block; // ✅ inline 이슈 차단
    box-sizing: border-box;
  }

  .profile-image-cancel {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);

    background: none;
    border: none;
    padding: 0;

    font-size: 14px;
    color: #FF0000;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }
}